 .u-section-1 {
  min-height: 1323px;
}

.u-section-1 .u-shape-1 {
  height: 697px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 733px;
  font-size: 4.5rem;
  margin: -629px calc(((100% - 1140px) / 2) + 203px) 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 771px;
  margin: 51px calc(((100% - 1140px) / 2) + 185px) 0;
}

.u-section-1 .u-gallery-1 {
  height: 706px;
  width: 735px;
  grid-gap: 10px 10px;
  margin: 84px calc(((100% - 1140px) / 2) + 157px) 60px auto;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 11px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 11px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 103px);
    margin-left: calc(((100% - 940px) / 2) + 103px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 85px);
    margin-right: calc(((100% - 940px) / 2) + 85px);
  }

  .u-section-1 .u-gallery-1 {
    margin-right: calc(((100% - 940px) / 2) + 157px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 70px;
    height: 70px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 70px;
    height: 70px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 70px;
    height: 70px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 70px;
    height: 70px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 70px;
    height: 70px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 70px;
    height: 70px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 70px;
    height: 70px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1060px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    height: 639px;
    width: 720px;
    margin-left: auto;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 68px;
    height: 68px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 68px;
    height: 68px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 68px;
    height: 68px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 68px;
    height: 68px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 68px;
    height: 68px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 68px;
    height: 68px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 68px;
    height: 68px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 68px;
    height: 68px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 926px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    height: 532px;
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 46px;
    height: 46px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 46px;
    height: 46px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 46px;
    height: 46px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 46px;
    height: 46px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 46px;
    height: 46px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 46px;
    height: 46px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 46px;
    height: 46px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 46px;
    height: 46px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 729px;
  }

  .u-section-1 .u-shape-1 {
    height: 490px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    height: 359px;
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 21px;
    height: 21px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 21px;
    height: 21px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 21px;
    height: 21px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 21px;
    height: 21px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 21px;
    height: 21px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 21px;
    height: 21px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 21px;
    height: 21px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 21px;
    height: 21px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #2cccc4);
}

.u-section-2 .u-sheet-1 {
  min-height: 640px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-text-1 {
  margin: 133px 40px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 40px 0;
}

.u-section-2 .u-text-3 {
  margin: 0 40px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-social-icons-1 {
  height: 66px;
  min-height: 16px;
  width: 218px;
  min-width: 68px;
  margin: 13px 292px 0 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 66px;
}

.u-section-2 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}