@using Model.Models
<div>

    <select class="Categories">
        <option selected value="All">All category</option>
        @foreach (var item in ViewBag.Categories)
        {
            <option value="@item.Name">@item.Name</option>
        }

    </select>
</div>