@using Model.Models
<div>

  <h3>Select category</h3>
    <select id="Categories">
        <option selected value="0">All category</option>
        @foreach (var item in ViewBag.Categories)
        {
            <option value="@item.CategoryId">@item.Name</option>
        }

    </select>
</div>