@using Model.Models

<script src="~/js/myjavascript.js"></script>
<div>
  
    <select id="Categories">
        <option selected value="0">All category</option>
        @foreach (var item in ViewBag.Categories)
        {
            <option value="@item.CategoryId">@item.Name</option>
        }

    </select>
</div>