<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

        @await Html.PartialAsync("_navbarPartial")
</head>
<body style="background-color:#adf6f2; text-align: center " > 
    <div >
        @RenderBody()
    </div>
</body>
</html>
