@{
    ViewData["Title"] = "EditAnimalPage";
}
<section class="u-align-center u-clearfix u-gradient u-section-2" id="sec-6b04">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-lobster u-text u-text-default u-text-1">Edit Animal </h1>
        <a asp-action="Administrator" asp-controller="Administrator" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-4-dark-2 u-radius-50 u-text-body-color u-btn-1">Back</a>
        <div class="u-form u-form-1">
            <form asp-action="EditAnimal" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" name="form">
                <div class="u-form-group u-form-partition-factor-2 u-label-left u-form-group-1">
                    <label  class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-1">Name:</label>
                    <input  type="text" placeholder="Enter the animal name" id="text-bb33" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white">
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-label-left u-form-group-2">
                    <label for="text-03e7" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-2">Age:</label>
                    <input type="nu" placeholder="Enter the animal Age" id="text-03e7" name="text-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white">
                </div>
                <div class="u-form-group u-form-message u-form-partition-factor-2 u-label-left">
                    <label for="message-3b9a" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-3">Description</label>
                    <textarea placeholder="Enter the animal Description" rows="4" cols="50" id="message-3b9a" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white" required=""></textarea>
                </div>
                <div class="u-form-file-upload u-form-group u-form-partition-factor-2 u-label-left u-form-group-4">
                    <label for="text-bd33" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-4">Input</label>
                    <input type="file" placeholder="" id="text-bd33" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-38 u-white">
                </div>
                <div class="u-form-group u-form-select u-label-left u-form-group-5">
                    <label for="select-5bb5" class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-5">Category</label>
                    <div class="u-form-select-wrapper">
                        <select id="Categories">
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.CategoryId">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="u-form-group u-form-submit u-label-left">
                    <label class="u-custom-font u-font-oswald u-label u-spacing-0 u-label-6"></label>
                    <div class="u-align-center u-btn-submit-container">
                        <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-palette-4-dark-2 u-radius-23 u-text-body-color u-btn-2">Edit</a>
                    <input type="submit" value="Add animal" class="u-form-control-hidden">
                    </div>
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="b69c29d008193aa59c1a9c592d8fe88c">
                <input type="image" />
            </form>
        </div>
    </div>
</section>

